//Created by Bren on 02/06/2015.
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/main.css')
        include favicon
    body
    div
        span Homepage!!
        if(loggedin)
            span My Dashboard
        else
            span Login | Join

