doctype html
html
   head
      title= title
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
      include favicon
   body
      block header
      block content
      block footer