extends shared/app_layout

block content
    h1 Change My Password
        form(action='./password',method='post')
                .error
                    !=message
                ul.form_list
                    li
                        label New Password
                        input(id='email',type='text',value=user.email,placeholder='Email Address',name='email', autofocus)
                    li
                        label Confirm New Password
                        input(id='email',type='text',value=user.email,placeholder='Email Address',name='email', autofocus)
                input(id='_csrf',type='hidden',value=_csrf,name='_csrf')
                input(type='submit',value='Change Password')

