extends ../layout_plain

block content

   .form_panel
      header
         a(href="/")
            img(class="logo", src="../img/logo.png", alt="")
            img(class="logo_text", src="../img/logo_text_dark.png", alt="")
      form(action='/password',method='post')
            .error.hidden
               !=message
            div
               div(class=['fa','fa-user'])
               input(id='email',type='text',name='email',placeholder='Email Address', autofocus)
            br
            input(id='_csrf',type='hidden',value=_csrf,name='_csrf')
            input(type='submit',value='Send Reset Password Email')

